
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503385910500'); /* IE9*/
  src: url('iconfont.eot?t=1503385910500#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503385910500') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503385910500') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503385910500#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-recommend:before { content: "\e6f0"; }

.icon-home:before { content: "\e61f"; }

.icon-mail:before { content: "\e641"; }

.icon-about:before { content: "\e6a3"; }

.icon-git:before { content: "\e61c"; }

.icon-artical:before { content: "\e61e"; }

