.artical-content{
  h1, h2, h3, h4, h5, h6 { position: relative; margin-top: 1rem; margin-bottom: 1rem; font-weight: bold; line-height: 1.4; -webkit-font-smoothing: antialiased; cursor: text; }
  a { color: rgb(65, 131, 196); }
  .comment-area{
    max-width: 800px;
    margin: 0px auto;
    padding: 20px 30px 40px;
    .comment-list{
      background: #E7EDED;
      padding: 10px 20px;
      margin-bottom: 20px;
    }
  }
  .captcha{
    width: 45%;
  }
  .captcha-refresh{
    float: right;
    line-height: 30px;
    margin: 0 15px;
    &:before{
      font-size: 16px;
    }
  }
  .captcha-pic{
    float: right
  }
}
@media screen and (max-width: 490px) and (min-width: 371px) {
  .artical-content{
    .captcha-pic{
      float: right;
      margin-right: 10px;
    }
    .captcha-refresh{
      display: none;
    }
  }
}

@media screen and (max-width: 370px) {
  
  .artical-content{
    .captcha{
      width: 40%;
    }
    .captcha-refresh{
      display: none;
    }
  }
}